@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

/* nav style */
nav {

    width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

}

.navh1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;

}

.navhbtn {
    width: 116px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
}

/* nav style end */
/* banner style start */

.banner_container {
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 50px;
}

.banner_txt {
    background: rgb(198, 228, 214);
    margin-left: 50px;


}

.banner_txt_h4 {

    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    background: rgb(198, 228, 214);

}

.banner_txt_h1 {
    margin-top: 16px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    background: rgb(198, 228, 214);

}

.button {
    margin-top: 30px;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: none;
    transition: all 0.5s;
    cursor: pointer;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background: rgb(0, 106, 80);
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.banner_img {
    display: flex;
    margin-right: 30px;

}

.banner_img img {
    background: rgb(198, 228, 214);

}

/* banner style end */

/* pillar section */
.pillars_container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}

.pillars_container_h3 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.pillar {
    width: 302px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin-top: 32px;
}

.pillar_h3 {
    background: rgb(255, 255, 255);
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

}

.pillar_p {
    background: rgb(255, 255, 255);
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}


.pillar_tarms {
    display: flex;
    justify-content: space-between;
}

.vision {

    width: 1280px;
    height: 120px;

    margin: 0 auto;
    margin-top: 80px;
}

.visionh1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

}

.visionp {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;


}

.goals {
    width: 1280px;
    height: 325px;

    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.goal_one {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;


}

.goal_one>h1,
p,
img {
    background: rgba(84, 143, 245, 0);
}

.goal_one_btn {
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background: rgb(84, 144, 245);
    border: none;
    margin-top: 24px;
}

.goal_one_h1 {

    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
}

.goal_one_p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

#mid {
    background: rgb(198, 228, 214);

}

#last {
    background: rgb(247, 235, 207);
}

#mid_btn {
    background: rgb(9, 161, 92);
}

#last_btn {
    background: rgb(255, 194, 57);
}

.challenge {
    width: 1280px;
    height: 256px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

    margin: 0 auto;
    margin-top: 32px;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 12%;
    padding: 48px 24px 48px 24px;


}

.challengep1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.challengep2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 12px;

}

.challengep3 {
    margin-top: 4px;
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.recent_news {
    width: 1280px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.box_one {
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box_onetxt {

    margin-right: 20px;
}

.box_onetxt>p,
img {

    background: rgb(255, 255, 255);
}

.pr1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    height: 50px;
}

.pr2 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pr3 {

    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 90px;

}

.pr_btn {
    width: 139px;
    height: 48px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background: rgb(0, 106, 80);
    border: none;
}

.box_one_img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
    margin-left: 20px;
    background-image: url("assets/satelite.png");
}

#maxxx {
    flex-direction: row-reverse;
}

#sideplz {
    margin-left: 40px;
}

#sidepl2 {
    margin-right: 35px;
}

.donate_tdy {
    width: 1280px;
    height: 120px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;


}

.donate_tdy_h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.donate_tdy_p {
    margin-top: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.tuktak {
    width: 1071px;
    height: 128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tukbtn {
    width: 240px;
    height: 128px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    background: rgb(255, 255, 255);

}
.tukbtn:hover
{
    background: rgb(198, 228, 214);
}

#ch
{
    background: rgb(198, 228, 214);
}